<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head %>
		
		
		<!---Mailchimp Styles-->
		<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
		<style type="text/css">
			#mc_embed_signup{
				font:14px Helvetica,Arial,sans-serif; }
		</style>
		<!---Mailchimp Styles-->
	</head>
	<body>
		<!-- Navigation -->
		<% include ../partials/nav %>
		<!-- Page Content -->
		<div id="page-top">
			<section id="intro">
				<div class="container my-auto">
					<div class="row">
						<div class="col-lg-12 mx-auto" id="committees">
							<h1 class="section-heading" style="text-align:center;">Salt Lake DSA Committees</h1>
							<hr class="my-4"/>

							<p>Committees are the best way to start getting involved!
							</p>

							<p>Salt Lake DSA is organized by committees. Each committee democratically chooses its own priorities and goals. The committes report back to the entire membership on what projects they are working on at the monthly general meeting.
							</p> 	
							
							<p>If you would like to start your own committe to work a specific goal, members may submit a statement to the Coordinating Committee that includes the committee name, mission statement, scope of the committee's work and at least five (5) other members interested in creating the committee.	
							</p>
							
							<p>Learn about the currently active committees below and sign up for our monthly newletter to stay up to date.</p>
							
							<div class="text-center">
							<a class="btn btn-primary btn-xl js-scroll-trigger mb-4" href="#newsletter">Sign up for Newsletter</a>
							</div>
							
							<% if (locals.data) { %>
								<div v-for="(doc, i) in vData">
									<div class="panel-heading border-top py-2">
										<a class="accordion-toggle collapsed" data-toggle="collapse" :href="'#collapse'+i">
											<div v-text="doc.category"></div>
											
										</a>
										<div class="container px-4">
											<div class="row">
												<div class="col-sm-10">
													<div class="font-italic font-weight-bold" v-text="doc.lede"></div>
												</div>
												<div class="col-sm-2 text-right">
													<% if (locals.user) { %> 
											<a v-if="doc" :href="'/b/edit/'+doc._id"><i class="fas fa-1x fa-edit"></i><span> Edit</span></a>
										<% } %><span class="px-2"><a v-if="doc" :href="'/b/'+doc._id"><i class="fas fa-1x fa-link"></i></a></span></div>
												
											</div>
									
										
										
										
										
										</div>
									</div>
									
									<div :id="'collapse'+ i" class="collapse pl-4">
									
									<div class="container text-center">	
				<figure class="figure" v-if="doc.media && doc.media.length > 0">
					<img class="figure-img img-fluid rounded" :src="doc.media[0].image">
					
					<figcaption class="figure-caption" v-text="doc.media[0].caption"></figcaption>
					
					<hr>
				</figure>
				</div>
			

										
										
										
										
										<div class="dropCaps" v-html="doc.description"></div>
										
									
									</div>
								</div>
							<% } %>
						</div>
					</div>
				</div>
		
			</section>
			<section id="newsletter">
		<div class="container text-center my-auto">
			<div class="row">
				<div class="col-lg-12 text-center">
				<h2 class="section-heading">Newsletter</h2>
				<hr class="my-4">
				</div>
			</div>
			<div class="row">
			<div class="col-lg-12 mx-auto text-center">
			<p>Stay up-to-date with all the activities our committees are planning. Sign up for our Newsletter</p>
			</div>
				<div class="col-lg-12 mx-auto text-center">
				
				<!-- Begin Mailchimp Signup Form -->
				<div id="mc_embed_signup">
				<form action="https://saltlakedsa.us20.list-manage.com/subscribe/post?u=00e7a5204c2d3cb28e69a5888&amp;id=f4cbbb67e5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<div id="mc_embed_signup_scroll">
				
				<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
				<div class="mc-field-group">
					<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span></label>
					<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
				</div>
				<div class="mc-field-group">
					<label for="mce-FNAME">First Name  <span class="asterisk">*</span></label>
					<input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
				</div>
				<div class="mc-field-group">
					<label for="mce-LNAME">Last Name  <span class="asterisk">*</span></label>
					<input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
				</div>
				<div class="mc-field-group">
					<label for="mce-MMERGE3">Zip Code  <span class="asterisk">*</span></label>
					<input type="text" value="" name="MMERGE3" class="required" id="mce-MMERGE3">
				</div>
				<div id="mce-responses" class="clear">
					<div class="response" id="mce-error-response" style="display:none"></div>
					<div class="response" id="mce-success-response" style="display:none"></div>
				</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_00e7a5204c2d3cb28e69a5888_f4cbbb67e5" tabindex="-1" value=""></div>
				<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
				</div>
				</form>
				</div>
				<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
				<script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='MMERGE3';ftypes[3]='zip';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
				<!--End mc_embed_signup-->
				
				
				
				</div>		
			</div>
		</div>
    </section>
			
			
			<% include ../partials/socialmedia %>
		</div>
		<script type="text/javascript">
		new Vue({ 
			el: '#committees',
			data() {
				return { 
					vData: this.parseObj(
						<%- vData %>
					),
					sliderIndex: 0,
					sliderInterval: null,
					docIndex: 0
				}
			},
			beforeDestroy(){
				clearInterval(self.sliderInterval)
			},
			mounted(){
				var self = this;
				if (self.vData && self.vData.length > 0) {
					var length = self.vData[self.docIndex].media.length;
					self.setSliderInterval(length);
				}
			},
			methods: {
				parseObj(obj) {
					if (!obj) return '';
					return obj;
				},
				changeDocIndex(i) {
					var self = this;
					self.sliderIndex = 0;
					self.docIndex = i;
					clearInterval(self.sliderInterval);
					var length = self.vData[self.docIndex].media.length;
					self.setSliderInterval(length);
				},
				setSliderInterval(length) {
					var self = this;
					self.sliderInterval = setInterval(function(){
						if (self.sliderIndex < (length - 1)){
							self.sliderIndex++;
						} else {
							self.sliderIndex = 0;
						}
					}, 5000)
				}
			}
		})

		</script>
		<!-- /.container -->
		<% include ../partials/footer %>
	</body>
</html>