<!DOCTYPE html>
<html lang="en">

  <head>

	<% include ../partials/head %>

  </head>

  <body>

    <!-- Navigation -->
    
	<% include ../partials/nav %>
	
	<script src="/txt/new-members.json"></script>
	

    <!-- Page Content -->
    <div id="page-top">
	<header class="masthead text-center text-white d-flex" style="background-image: url(static/img/rally.jpg);">
		<div class="container my-auto">
			<div class="row">
				<div class="col-lg-10 mx-auto">
					<h1 class="text-uppercase text-faded">
					<strong><span id="text_1"></strong>
					</h1>
					<hr class="my-4">
				</div>
				<div class="col-lg-8 mx-auto">
					<a class="btn btn-primary btn-xl js-scroll-trigger" href="#intro"><span id="text_2"></a>
				</div>
			</div>
		</div>
    </header>
	
	<section id="intro">	
		<div class="container">
			<div class="row">				
				<div class="col-md-12">
					<h1 id="s1" class="py-3"><span id="text_3"></h1>
					<p>
					<span id="text_4">
					<p>
					<span id="text_5">
					<p>
					<span id="text_6">
					<p>
					<span id="text_7">
					
					<p>
					<span id="text_8">
							
					<div class="container py-3">
					<div class="row">
						<div class="col-sm-6 my-1">
							<a class="btn btn-primary btn-xs js-scroll-trigger w-100" href="#s2"><i class="fas fa-2x fa-angle-down align-middle px-2"></i><small><span id="text_9"></small></a>
						</div>
					
						<div class="col-sm-6  my-1">
							<a class="btn btn-primary btn-xs js-scroll-trigger w-100" href="#s1"><i class="fas fa-2x fa-angle-up align-middle px-2"></i><small><span id="text_back"></small></a>
						</div>
				
					</div>
					</div>
					<hr class="my-4">
					<h1 id="s2" class="py-3"><span id="text_11"></h1>
					
					<p>
					<span id="text_12"></span>

					<span id="text_13"></span>
					
				<div class="container py-3">
				<div class="row">
					<div class="col-sm-6 my-1">
						<a class="btn btn-primary btn-xs js-scroll-trigger w-100" href="#s3"><i class="fas fa-2x fa-angle-down align-middle px-2"></i><small><span id="text_14"></small></a>
					</div>
					
					<div class="col-sm-6  my-1">
						<a class="btn btn-primary btn-xs js-scroll-trigger w-100" href="#s1"><i class="fas fa-2x fa-angle-up align-middle px-2"></i><small><span id="text_back2"></small></a>
					</div>
				
				</div>
			</div>
			
			<hr class="my-4">
			<h1 id="s3" class="py-3"><span id="text_15"></span></h1>
					<span id="text_16"></span>
					
					<div class="container py-3">
				<div class="row">
					<div class="col-sm-6 my-1">
						<a class="btn btn-primary btn-xs js-scroll-trigger w-100" href="#s4"><i class="fas fa-2x fa-angle-down align-middle px-2"></i><small><span id="text_17"></span></small></a>
					</div>
					
					<div class="col-sm-6  my-1">
						<a class="btn btn-primary btn-xs js-scroll-trigger w-100" href="#s1"><i class="fas fa-2x fa-angle-up align-middle px-2"></i><small><span id="text_18"></span></small></a>
					</div>
				
				</div>
			</div>
					
					<hr class="my-4">
					<h1 id="s4" class="py-3"><span id="text_19"></span></h1>
					<span id="text_20"></span>
					
					<div class="container py-3">
				<div class="row">
					<div class="col-sm-6 my-1">
						<a class="btn btn-primary btn-xs js-scroll-trigger w-100" href="#s5"><i class="fas fa-2x fa-angle-down align-middle px-2"></i><small><span id="text_21"></span></small></a>
					</div>
					
					<div class="col-sm-6  my-1">
						<a class="btn btn-primary btn-xs js-scroll-trigger w-100" href="#s1"><i class="fas fa-2x fa-angle-up align-middle px-2"></i><small><span id="text_22"></span></small></a>
					</div>
				
				</div>
			</div>
					
					
					<hr class="my-4">
					<h1 id="s5" class="py-3"><span id="text_23"></span></h1>
					
					<span id="text_24"></span>

					<div class="container py-3">
				<div class="row">
					<div class="col-sm-6 my-1">
						<a class="btn btn-primary btn-xs js-scroll-trigger w-100" href="#s6"><i class="fas fa-2x fa-angle-down align-middle px-2"></i><small>Voting</small></a>
					</div>
					
					<div class="col-sm-6  my-1">
						<a class="btn btn-primary btn-xs js-scroll-trigger w-100" href="#s1"><i class="fas fa-2x fa-angle-up align-middle px-2"></i><small>Back to the begining</small></a>
					</div>
				
				</div>
			</div>
					
					<hr class="my-4">
					<h1 id="s6" class="py-3">Voting</h1>
					<p>
					<strong>Can I Vote?</strong>
					
					<p>
					You can vote if:
					
					<ul><li>You are a dues paying member and your dues are current.</li></ul>
					
					<p>
					<strong>What do we vote on?</strong>
					
					<p>
					Some examples of what we vote on: bylaws amendments, Coordinating Committee, delegate positions, Grievance Officer(s), whether we sponsor a event, and endorsements for ballot measures and candidates.
					<p>
					<strong>Online voting</strong>
					
					<p>
					We use online voting for time-sensitive and less contentious items like event endorsements and sponsorship.

					
					<div class="container py-3">
				<div class="row">
					<div class="col-sm-6 my-1">
						<a class="btn btn-primary btn-xs js-scroll-trigger w-100" href="#s7"><i class="fas fa-2x fa-angle-down align-middle px-2"></i><small>Robert’s Rules of Order</small></a>
					</div>
					
					<div class="col-sm-6  my-1">
						<a class="btn btn-primary btn-xs js-scroll-trigger w-100" href="#s1"><i class="fas fa-2x fa-angle-up align-middle px-2"></i><small>Back to the begining</small></a>
					</div>
				
				</div>
			</div>
					
					<hr class="my-4">
					<h1 id="s7" class="py-3">Introduction to Robert’s Rules of Order</h1>
					
					<p>
					We use Robert’s Rules to help us run votes and debate. Having an agreed on set of procedures allows us to make decisions as  efficiently and fairly as possible. The following excerpt is from the <strong>Robert’s Rules for Dummies Cheat Sheet.</strong>
					
					<p>
					<strong>Steps for a basic vote</strong>
					<ol>
					<li>The member rises and addresses the chair.</li>
					<li>The chair recognizes the member. </li>
					<li>The member makes a motion. </li>
					<li>Another member seconds the motion.</li>
					<li>The chair states the motion.</li>
					<li>The members debate the motion.</li>
					<li>The chair puts the question, and the members vote.</li>
					<li>The chair announces the result of the vote.</li>
					</ol>
					
					<p>
					<strong>What is a motion, anyway?</strong>
					
					<p>
					When that light bulb goes off in your head and you have a great idea, you make a motion to get your idea discussed and a decision made.
					
					<p>
					Until a motion is made, seconded, and stated by the chair, no discussion is in order. This rule of “motion before discussion” saves valuable meeting time. When you start off with a definite proposal — “I move that . . .” — your group discusses the motion’s merits and all the details necessary to make a decision. And during the discussion, you and the other members are free to alter your motion as much as necessary before reaching the final decision.
					
					<div class="container py-3">
				<div class="row">
					<div class="col-sm-6 my-1">
						<a class="btn btn-primary btn-xs js-scroll-trigger w-100" href="#s7-5"><i class="fas fa-2x fa-angle-down align-middle px-2"></i><small>DSA Organization Structure</small></a>
					</div>
					
					<div class="col-sm-6  my-1">
						<a class="btn btn-primary btn-xs js-scroll-trigger w-100" href="#s1"><i class="fas fa-2x fa-angle-up align-middle px-2"></i><small>Back to the begining</small></a>
					</div>
				
				</div>
			</div>
			
			
					<hr class="my-4">
					<h1 id="s7-5" class="py-3">DSA Organization Structure</h1>
			<p>We’re a nationwide organization with over 80 DSA chapters in 48 states. We’re a “big tent” organization which means we welcome a variety of anti-capitalist ideologies and we have no “party line” that chapters must obey.
			
			
			<div class="container">
					<div class="row no-gutters">
					<div class="col-md-4">
					<div class="card" style="height:100%;">  
						<div class="card-body">
						<h5 class="card-title">National Staff</h5>
						<div class="card-text">
							<p>7 person staff, responsible for largely administrative work like updating and sending member roles, coordinating our newsletter the Democratic Left.
						</div>						
						</div>
					</div>
					</div>
					<div class="col-md-4">
					<div class="card" style="height:100%;">  
						<div class="card-body">
						<h5 class="card-title">National Political Committee</h5>
						<div class="card-text">
							<p>16 person committee. Elected every 2 years at the National Convention. Currently tasked with 3 priorities: 
							<ol>
							<li>Developing our Medicare For All campaign</li>
							<li>Developing our relationship with labor groups</li>
							<li>Developing our electoral strategy</li>
							
							</ol>
						</div>						
						</div>
					</div>
					
					</div>
					<div class="col-md-4">
					<div class="card" style="height:100%;">  
						<div class="card-body">
						<h5 class="card-title">Local Chapters</h5>
						<div class="card-text">
							<ul>
								<li>responsible for developing their own structure and bylaws</li>
								<li>sends delegates to the national</li>
								
								
							</ul>
						</div>						
						</div>
					</div>
					</div>
					</div>
					</div>
			<p class="pt-3"><strong>National staff</strong>
			<p>These are the full-time employees that do the administrative tasks of running DSA. Someone in this list probably mailed you your membership card.
			
			<p>Maria Svart, National Director | msvart@dsausa.org
			<p>Elena Blanc, Database Manager | eblanc@dsausa.org
			<p>Claudia Cahill, Grassroots Organizer | ccahill@dsausa.org
			<p>Eileen Casterline, Administrative Coordinator | ecasterline@dsausa.org 
			<p>Lawrence Dreyfuss, Administrative Assistant | ldreyfuss@dsausa.org 
			<p>Ryan Mosgrove, Assistant Youth Organizer | yds@dsausa.org
			<p>Hannah Allison, Travelling Organizer | hallison@dsausa.org 

			
			
			
			<div class="container py-3">
				<div class="row">
					<div class="col-sm-6 my-1">
						<a class="btn btn-primary btn-xs js-scroll-trigger w-100" href="#s8"><i class="fas fa-2x fa-angle-down align-middle px-2"></i><small>Chapter Structure</small></a>
					</div>
					
					<div class="col-sm-6  my-1">
						<a class="btn btn-primary btn-xs js-scroll-trigger w-100" href="#s1"><i class="fas fa-2x fa-angle-up align-middle px-2"></i><small>Back to the begining</small></a>
					</div>
				
				</div>
			</div>
					
					<hr class="my-4">
					<h1 id="s8" class="py-3">Chapter Structure</h1>
					<p>
					Our chapter structure here in Salt Lake is made up of a nine person coordinating committee, issue based committees who elect their own leadership, and grievance officers.
					
					<div class="container">
					<div class="row no-gutters">
					<div class="col-md-4">
					<div class="card" style="height:100%;">  
						<div class="card-body">
						<h5 class="card-title">Coordinating Committee</h5>
						<div class="card-text">
							<ul>
								<li>9 person committee</li>
								<li>Made up of 2 co-chairs, 2 co-secretaries, 2 membership coordinators, 2 at-large, 1 treasurer</li>
								<li>One year term, elected every May</li>
								<li>Responsible for supporting the chapter with administrative tasks</li>
							
							</ul>
						</div>						
						</div>
					</div>
					</div>
					<div class="col-md-4">
					<div class="card" style="height:100%;">  
						<div class="card-body">
						<h5 class="card-title">Issue based committees</h5>
						<div class="card-text">
							<ul>
								<li>Responsible for developing and implementing campaigns, actions, and demonstrations</li>
								<li>1-2 co-chairs elected by their committees are responsible for administrative tasks</li>
								
							</ul>
						</div>						
						</div>
					</div>
					
					</div>
					<div class="col-md-4">
					<div class="card" style="height:100%;">  
						<div class="card-body">
						<h5 class="card-title">Grievance Officers</h5>
						<div class="card-text">
							<ul>
								<li>1 officer</li>
								<li>Elected by the chapter</li>
								<li>One year term</li>
								<li>Hear and and provide recommendations on grievances against chapter members</li>
								
							</ul>
						</div>						
						</div>
					</div>
					</div>
					</div>
					</div>
										
					<p class="pt-3"><strong>Chapter Bylaws</strong>
					The <a href="https://docs.google.com/document/d/1KwkciiL9Pzj3WGeEJrX2rCc5nTwLKV5wyvyN6Qy85GU/edit?usp=sharing">chapter bylaws</a> were voted on and approved by the SLDSA body on November 8, 2018.
					
					<p><strong>Chapter history</strong>
					<p>The current version of the SL DSA chapter was reformed in early 2017 by a small group of socialists from varying groups.

					
					<div class="container py-3">
				<div class="row">
					<div class="col-sm-6 my-1">
						<a class="btn btn-primary btn-xs js-scroll-trigger w-100" href="#s9"><i class="fas fa-2x fa-angle-down align-middle px-2"></i><small>Committees</small></a>
					</div>
					
					<div class="col-sm-6  my-1">
						<a class="btn btn-primary btn-xs js-scroll-trigger w-100" href="#s1"><i class="fas fa-2x fa-angle-up align-middle px-2"></i><small>Back to the begining</small></a>
					</div>
				
				</div>
			</div>
					
				
					
					<hr class="my-">
					<h1 id="s9" class="py-3">Committees</h1>
					<p>Our committees are where the real work of the chapter gets done. They are responsible for developing and implementing campaigns, actions, demonstrations, and social events.
					
					<table class="table table-striped table-bordered table-hover table-responsive">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Committee Name</th>
      <th scope="col">Email Address</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      
      <td>Coordinating Committee<br> 
Chapter Administration</td>
      <td>saltlakedsa.cc@gmail.com</td>
  
    </tr>
    <tr>
      
      <td>Eco-Socialist Committee<br>
Championing ecosocialism and supporting local communities</td>
      <td></td>
      
    </tr>
    <tr>
      
      <td>Communications Committee<br>
Facilitate communications within the chapter</td>
      <td></td>
      
    </tr>
	 <tr>
      
      <td>Lefty Lending Library<br>Easy way for DSA members to lend and borrow books and other media to one another</td>
      <td>leftylendinglibrary@gmail.com</td>
      
    </tr>
	 <tr>
      
      <td>Mutual Aid Committee<br>General Mutual aid work from carpools to harm reduction</td>
      <td>saltlakedsa.mutualaid@gmail.com</td>
      
    </tr>
	 <tr>
      
      <td>Reading Group<br>We read and discuss books on revolutionary politics, capitalism and social change, socialist movement history and strategy.</td>
      <td></td>
      
    </tr>
  </tbody>
</table>
					
					
					
					
					
					
					
					
					
					<div class="container py-3">
				<div class="row">
					<div class="col-sm-6 my-1">
						<a class="btn btn-primary btn-xs js-scroll-trigger w-100" href="#s10"><i class="fas fa-2x fa-angle-down align-middle px-2"></i><small>Communication Etiquette</small></a>
					</div>
					
					<div class="col-sm-6  my-1">
						<a class="btn btn-primary btn-xs js-scroll-trigger w-100" href="#s1"><i class="fas fa-2x fa-angle-up align-middle px-2"></i><small>Back to the begining</small></a>
					</div>
				
				</div>
			</div>
					
					<hr class="my-4">
					<h1 id="s10" class="py-3">Communication Etiquette</h1>
					
					<p>
					At Salt Lake DSA we primarily use Slack as a means of communications, occasionally sending out emails. This may change in the future.
					
					<p><strong>Communication platforms</strong>
					<p><a href="https://slack.com/">Slack</a> - open chat rooms with added features
					<p>When joining the DSA, you will typically be added to the Slack. Once you sign into Slack, ou may join any committee specific channels by clicking “Channels” at the top left of the slack screen.
					<p><strong>Slack etiquette</strong>
					<p>Slack is a full featured instant messenger with many useful features for document sharing. It is not a secure messaging platform and is meant for non-emergency communication. Use this for workshopping in groups, requesting immediate feedback, and fun conversations.
					
					<div class="container py-3">
				<div class="row">
					<div class="col-sm-6 my-1">
						<a class="btn btn-primary btn-xs js-scroll-trigger w-100" href="#s11"><i class="fas fa-2x fa-angle-down align-middle px-2"></i><small>Meeting Agreements</small></a>
					</div>
					
					<div class="col-sm-6  my-1">
						<a class="btn btn-primary btn-xs js-scroll-trigger w-100" href="#s1"><i class="fas fa-2x fa-angle-up align-middle px-2"></i><small>Back to the begining</small></a>
					</div>
				
				</div>
			</div>
					
					
					<hr class="my-4">
					<h1 id="s11" class="py-3">Meeting Agreements</h1>
					<p>					
					Meetings are more productive — and more fun — when the conversation includes everyone. Respectful discussion guidelines are helpful for keeping things focused too. You can read these before meetings and forums. 
					
					<p class="font-weight-bold">Assume good faith in your fellow comrades
					
					<p>Assume good faith in each other. Please try to speak from experience, speak for yourself, and actively listen to each other. When someone makes a point, repeat what you heard, summarize, and ask clarifying questions like “did you mean X” or “what makes you say that” to get more information. Encourage yourself and others to maintain a positive attitude, honor the work of others, avoid defensiveness, be open to legitimate critique and challenge oppressive behaviors in ways that help people grow. We want to “call each other in” rather than calling each other out — in other words, if you are challenging someone’s ideas or behavior, do it respectfully, and if you are being challenged, receive it respectfully. Remember, mistakes will be made, nobody is perfect.	
					
					<p class="font-weight-bold">Know whether you need to “step up” or “step back”
					
					<p>Help create a safe and inclusive space for everybody. Please respect others by recognizing how often, much, and loud you’re speaking and whether or not you’re dominating the conversation. Step back to leave space for others to voice their opinions and feelings. If the facilitator of the meeting asks you to wrap up, recognize that you should step back. This especially applies to participants who have privileged backgrounds. On the other hand, if you don’t often speak up, we encourage you to do so now!
					
					<p class="font-weight-bold">Please ask yourself “Why am I Talking?”
					
					<p>We have a limited amount of time for discussion and to accomplish the tasks before us. When in discussion, please ask yourself “Why am I talking (WAIT)?” Consider whether or not what you want to say has already been said, whether what you want to say is on topic or if there’s a better time and place to say it, and other methods for showing how you feel about the conversation (nodding your head, etc.)
					
					<p class="font-weight-bold">Please recognize and respect other's feelings, background, and cultural differences
					
					<p>Many people have different levels of experience, knowledge, and feelings in social justice and radical activism and all participants should respect and embrace this diversity. Many people from different backgrounds have different definitions of what it means to be an “activist” or “radical.” While we all don’t have to agree on everything, we should respect our diversity of opinions. Recognize that everyone has a piece of the truth, everybody can learn, and everybody has the ability to teach and share something. Don’t use language that’s clearly oppressive or hurtful. Please, refrain from using acronyms or complicated language that could exclude others.
					
					<p class="font-weight-bold">We have “one mic” so do not interrupt or speak while others are talking
					
					<p>Many of us will have different opinions on matters. However, speaking while others are talking or adding comments when they cannot respond appropriately does not build community. If you have a disagreement, wait for your turn to address it. This is basic politeness.
					
					<p class="font-weight-bold">Respect the facilitator when they use Progressive Stack
					
					<p>Progressive Stack is a form of leading discussions which involves a facilitator keeping a list of names of people who wish to speak. The facilitator scans the group during the discussion, and if someone wishes to speak, they raise their hand and catch the facilitator’s eye. The facilitator nods and makes eye contact to indicate the person is now put on the list to speak, and then the person can put their hand down so it does not distract other discussion participants. However, the facilitator does not simply write a list of names in the order that people raise their hand. Rather, if someone who has not spoken raises their hand, they go to the top of the list. If someone who is of an oppressed group raises their hand, they go to the top of the list unless they have already contributed significantly to the discussion. 		

					
					
					<div class="container py-3">
				<div class="row">
					<div class="col-sm-12 my-1 font-weight-bold" style="text-align:center;">
						You all Done!
					</div>
					
					<div class="col-sm-12  my-1">
						<a class="btn btn-primary btn-xs js-scroll-trigger w-100" href="#s1"><i class="fas fa-2x fa-angle-up align-middle px-2"></i><small>Back to the begining</small></a>
					</div>
				
				</div>
			</div>
					
					
				
					
			</div>
			
			</div>
		</div>
		
    </section>

      
	  
	<% include ../partials/socialmedia %>
	
    </div>
    <!-- /.container -->

    <% include ../partials/footer %>

  </body>

</html>
