


<!DOCTYPE html>
<html lang="en">

	<head>
	<% include ../partials/head %>
	</head>

	<body>

		<!-- Navigation -->
		<% include ../partials/nav %>
		<!-- Page Content -->
		
			<div class="container" id="page-top">
			<section>
			<h2 class="section-heading text-center">User Profile</h2>
			<hr>
				
			<% if (locals.user) {var tmp = user.username;%>
			
			<h5>User Name</h5>
			
			
			<div class="container">
				<div class="row mx-auto">
					<div class="col-lg-6 text-center">
						<%= tmp %>
					</div>
					<div class="col-lg-6">
						
				<a class="btn btn-primary btn-block" href="/logout">LOG OUT</a>
			
					</div>
				
				</div>
			
			</div>
			
			
			<h5 class="py-3">User Bio</h5>
			
			<div class="container">
				<div class="row mx-auto">
					
			
				
				<div class="col-lg-6">
					<form method="POST" action="/userinfo" enctype="multipart/form-data">
					<% if (locals.csrfToken) { %>
						<input type="hidden" name="_csrf" value="<%= csrfToken %>">
					<% } %>
					<div class="form-group">
						<label for="about"></label>
						<textarea class="form-control" id="about" name="about" rows="5"><%- user.about %></textarea>
					</div>
					</div>
					<div class="col-lg-6 my-auto">
					<button class="btn btn-primary btn-block" type="submit">Save bio</button>
					</div>
				</form>
						
			</div>
			
			<h5>Links</h5>
			<a href="/a/salesList" ariaDescription="Authenticate with Slack" style="display:inline-block;height:auto;">Sales List</a>
			
			</div>
			
			<%} else { %>
			
			<h5>Not Logged In</h5>
			<a href="/auth/slack" ariaDescription="Authenticate with Slack" style="display:inline-block;height:auto;">
 	<img src="https://api.slack.com/img/sign_in_with_slack.png"></img> </a>
			
			<%}%>
			
			
			
			
			
			</section>
			</div>
			<% include ../partials/socialmedia %>
			
		
		<!-- /.container -->
		<% include ../partials/footer %>
	</body>

</html>
